
<div class="form-outer-div">

    <h1>Register</h1>

<!--
<% @user.attributes.keys.each do |attribute|%>
    <div style= "color:red;"> <%= @user.errors.full_messages_for(attribute.to_sym).first%> </div>
<% end %> <br>
-->

    <%= form_with model: @user, html: {class: "form-class"} do |form|%>

        <div class="form-inner-div">
            <%# form.label :name, "Name", class: "form-label" %> 
            <%= form.text_field :name, placeholder: "Full Name", class: "form-input" %>
            <p class="errors"><%= @user.errors.full_messages_for(:name).first %></p>

            <%# form.label :contact, "Contact", class: "form-label" %> 
            <%= form.text_field :contact, placeholder: "Contact", class: "form-input" %>
            <p class="errors"><%= @user.errors.full_messages_for(:contact).first%></p>

            <%# form.label :email, "Email", class: "form-label" %> 
            <%= form.email_field :email, placeholder: "Email", class: "form-input" %>
            <p class="errors"><%= @user.errors.full_messages_for(:email).first%></p>

            <%= form.label :category, "Favourite Categories : " %>
            <%= form.collection_check_boxes( :category, {"Electronics"=> 0, "Cloths"=>1, "Toys"=>2, "Furniture"=>3, "Smart Phones"=>4}, :last, :first) do |category|%> 
                <div class="form-check-box-div">
                    <%= category.label class: "check_box_label_class"%>
                    <%= category.check_box class: "check_box_input_class"%>
                </div>
            <% end%>
    
            <%# form.label :password, "Password", class: "form-label" %> 
            <%= form.password_field :password, placeholder: "Password", class: "form-input" %>
            <p class="errors"><%= @user.errors.full_messages_for(:password).first%></p>

            <%# form.label :password_confirmation, "Confirm Password", class: "form-label" %> 
            <%= form.password_field :password_confirmation, placeholder: "Retype Password", class: "form-input" %>

            <%= form.submit "Create Account", class: "form-submit-button"%>
        </div>

            <p> <%= link_to "Login", log_in_path %> Instead ?</p>

    <%end%>
</div>
