<div class="div_box_class">

<h1>Log in</h1>

<% if flash[:notice] %>
      <div id="notice">
         <%= flash[:notice] %> 
      </div>
<% end %>

<% if flash[:alert] %>
      <div id="alert"">
         <%= flash[:alert] %> 
      </div>
<% end %>

<p id="email_error" style="color: red;"></p>
<p id="pass_error" style="color: red;"></p>


<%= form_with url: log_in_path, html: {id: "log_in"} do |form|%>
    <div class="div_form_class">

    <%= form.label :email, "Email", class: "form_label" %> <br>
    <%= form.email_field :email, class: "form_input" %> <br><br>

    <%= form.label :password, "Password", class: "form_label" %> <br>
    <%= form.password_field :password, class: "form_input" %> 
    <button type="button" id="pass_button" onclick="show_hide_pass();" class="show_hide_button">Show</button> <br><br>

    </div>

    <p> Not having an Account? <%= link_to "Register", register_path %></p>
    
    <button type="submit" id="submit" onclick="validations();" class="form_submit_button">Log in</button>
<%end%>
</div>




<%# Script %>
<script>
    function show_hide_pass(){
        var pass_field = document.getElementById('password');

        if (pass_field.type === "password"){
                 pass_field.type = "text";
                 document.getElementById('pass_button').innerHTML = "Hide";
            }
        
        else {
            pass_field.type = "password";
            document.getElementById('pass_button').innerHTML = "Show";
        }
    }

    function validations(){
        var email_field = document.forms['log_in']['email'].value;
        var pass_field = document.forms['log_in']['password'].value;
        
        
        if (email_field == ""){
            document.getElementById('email_error').innerHTML = "Please Enter an Email.";
        }
        else if (!email_field.match(/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/)){
            document.getElementById('email_error').innerHTML = "Email is Invalid.";
        }
        else{
            document.getElementById('email_error').innerHTML = "";

        }
    

        if (pass_field == ""){
            document.getElementById('pass_error').innerHTML = "Please provide a password.";
        }
        else{
            document.getElementById('pass_error').innerHTML = "";

        }
    }
</script>


