<%= render "admins/shared/error_messages", resource: resource %>



<div class="form-outer-div">
  
  <h1>Vendor Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-class"}) do |f| %>
      
      <%# f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>

      <%# f.label :password %>
      <%= f.password_field :password, id: "password_field", placeholder: "Password" %>
      <span class="show-hide-button" role="button" tabindex="0">Show</span>

    <% if devise_mapping.rememberable? %>
      <div class="check-box-div">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

      <%= f.submit "Log in" %>
    
    <%= render "admins/shared/links" %>

  <% end %>

</div>

<script>
  
  // jQuery code for password show hide
  $(document).ready(function(){
    $(".show-hide-button").click(function(){
      if ($(".show-hide-button").text() == "Show"){
        $(".show-hide-button").text("Hide");
        $("#password_field").attr("type", "text");
      }
      else{
        $(".show-hide-button").text("Show");
        $("#password_field").attr("type", "password");
      }
    });
  });

</script>