<div id="products">
<% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td> - </td>
        <td><%= product.price %></td>
        <td> .... </td>
        <td><%= link_to 'Show', product, remote: true %></td>
        <td><%= link_to 'Edit', edit_product_path(product), remote: true %></td>
        <td><%= link_to 'Destroy', product, method: :delete, remote: true, data: { confirm: 'Are you sure?'} %></td>
      </tr>
<% end %>
<div>