<!-- Header Content -->
<nav>

	<div class="logo">
		<p>GateCart</p>
	</div>

	<ul>
			<li> <%= link_to "Home", products_path %> </li>
			<li> <%= link_to "Products", products_path %> </li>

		<% if admin_signed_in? %>
        	<li> <%= link_to "Add Product", new_product_path %> </li>  
        	<li> <%= button_to "Log Out", destroy_admin_session_path, method: :delete %> </li>
    	
		<% elsif session[:user_id] %>
        	<li> <%= button_to "Log Out", log_out_path, method: :delete %> </li>
    	
		<% else %>
        	<li> <%= link_to "Register", root_path %> </li>
        	<li> <%= link_to "Log In", root_path	 %> </li>
    	
		<% end %>

	</ul>

</nav>
