<%= image_tag @product.image if @product.image.attached?%> <br>
<%= @product.name%> <br>
<%= @product.price%> <br>
<%= @product.category%> <br>
<%= @product.description %> <br>



<% if admin_signed_in? %>
<p align= "center"> <%= link_to("Edit This Product", edit_product_path(@product)) %> </p>
<p align= "center"> <%= link_to "Delete This Product", product_path(@product), data: 
                                                                        {turbo_method: :delete,
                                                                        turbo_confirm: "Are You Sure?\nYou want to delete '#{@product.name}' "}  %> </p>
<% end %>